.title-file {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}
blocquote{
    padding: 10px;
    border: 1px solid #666;
    background-color: #E0E0E0;
    border-radius: 5px;
    display: block;
}